.background {
    background-color: darkslategray;
    height: 100%;
    width: 100%;
    text-align: center;
}

.row {
    position: absolute;
    display: inline-block;
    height: 50vmin;
    width: 50vmin;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
}

.whiteKingContainer {
    position: relative;
    height: 50vmin;
    width: 25vmin;
    display: inline-block;
}

.blackKingContainer {
    position: relative;
    height: 50vmin;
    width: 25vmin;
    display: inline-block;
    transform: translateX(-0.125%);
}

#whitekingsvg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#blackkingsvg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#whiteking:hover {
    opacity: 25%;
    cursor: pointer;
}

#blackking:hover {
    opacity: 25%;
    cursor: pointer;
}