.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.board {
    background:blue;
    margin-left: auto;
    margin-right: auto;
    width: 75vmin;
    height: 75vmin;
}