:root {
    --boardSideLength: 85vmin;
    --boardButtonHeight: 0vmin; /*7.5vmin;*/
    --arrowColor: black;
  }

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
}

.boardContainer {
    position: absolute;
    z-index: -1;
    top: 4%;
    width: var(--boardSideLength);
    height: calc(var(--boardSideLength) + var(--boardButtonHeight));
    background-color: red;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.board {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.boardButtonContainer {
    background-color: white;
    width: 100%;
    height: var(--boardButtonHeight);
    align-items: center;
    display: flex;
    text-align: center;
}

.boardButton {
    width: 50%;
    height: 100%;
    transition: 1.5s;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow {
    border: solid var(--arrowColor);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    position: relative;
    left: 50%;
    transition: 1.5s;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.chessTile {
    width: calc(var(--boardSideLength) / 8);
    height: calc(var(--boardSideLength) / 8);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tileCircle {
    width: 27.5%;
    height: 27.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.tileCorners {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.selectablePiece, .nonSelectablePiece, .selectedPiece {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    --tileSideLength: calc(var(--boardSideLength) / 8);
    --pieceSideLength: calc((64 / 75) * var(--tileSideLength));
    width: var(--pieceSideLength);
    padding: calc((var(--tileSideLength) - var(--pieceSideLength)) / 2);
}

.selectablePiece, .selectedPiece {
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.nonSelectablePiece {
    cursor: default;
}

.modalBackground {
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal {
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);   
}

.modalButton:hover {
    background-color: rgba(255, 255, 255, 1);
}

.modalButton {
    width: 50%;
    height: 50%;
    position: absolute;
    cursor: pointer;
    /* transition: 0.1s; */
    /* background-color: rgba(0, 0, 0, 0.5);; */
}